.container .jumbotron, .container-fluid .jumbotron {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
}

h1 {
	font-size: 24px;
}

.legende {
	text-align: center;
	margin-top: 20px;
}

.btn {
	color: white;
	cursor: default;
	border-radius: 0;
	padding: 6px 24px;
	margin: 0 15px;
	&:hover{
		color: white;
	}
}

.btn.btn-red, .btn-red:hover{
	background-color: rgba(220,68,55,1);
}

.btn.btn-blue, .btn-blue:hover{
	background-color: rgba(62,134,237,1);
}

.btn.btn-yellow, .btn-yellow:hover{
	background-color: rgba(238,179,2,1);
}

.btn.btn-green, .btn-green:hover{
	background-color: rgba(0,159,93,1);
}
.btn.btn-grey, .btn-grey:hover{
	background-color: #949FB1;
}