
h1 {
	font-size: 24px;
}

.header {
	margin-bottom: 30px;
}

.nav-tabs.nav-justified .active, .nav-tabs.nav-justified>.active>a {
  border-bottom: 1px solid #eee;
  border-radius: 4px 4px 0 0;
  background-color: #eee;
  &:hover{
  	background-color: #eee;
	  border-bottom: 1px solid #eee;
  }
}

.container .jumbotron {
	border: 1px solid #ddd;
}

.container .jumbotron.first{
	border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #ddd;
  border-width: 0 1px 1px 1px;
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
}


.legende {
	text-align: center;
	margin: 20px 0 40px;
}

.btn {
	color: white;
	cursor: default;
	border-radius: 0;
	padding: 6px 24px;
	margin: 0 15px;
	&:hover{
		color: white;
	}
}

.btn.btn-red{
	background-color: #dc4437;
	&.btn-red:hover{
		background-color: #eb6156;
	}
}

.btn.btn-blue{
	background-color: #3e86ed;
	&.btn-blue:hover{
		background-color: #5296f8;
	}
}

.btn.btn-yellow{
	background-color: #eeb302;
	&.btn-yellow:hover{
		background-color: #fac62b;
	}
}

.btn.btn-green{
	background-color: #009f5d;
	&.btn-green:hover{
		background-color: #10b06e;
	}
}

.btn.btn-grey{
	background-color: #949FB1;
	&.btn-grey:hover{
		background-color: #A8B3C5;
	}
}

.btn.btn-teal{
	background-color: #7B1FA2;
	&.btn-teal:hover{
		background-color: #892cb0;
	}
}

